
header {
    display: flex;  
    padding: 0 60px;
    align-items: center;
    background-color: $headerColor;
    font-family: 'Open Sans', sans-serif;
  
    .header-logo {
        margin: 0 auto 0 0; 
        padding: 0 20px; 
       img {
           width: 100%;
           height: auto;
           padding: 20px 0 15px 0;
       }
    }
  
    h1 {
        margin: 18.7px 0;
    }  
    button {
        background-color: white;
        margin: 18.7px 0;
        padding: 12px 20px;
        border-radius: 5px;
    }
    nav {
      display: flex;
      justify-content: space-around;
      width: 450px;
      .nav-item {
          height: 152px;   
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex-grow: 1; 
          padding: 0 10px; 
          transition: background-color 0.2s;
         .item-container {
              h3 {
                  margin: 0;
                  padding: 10px 0;
              }
              .under-line {
                  background-color: rgb(182, 42, 42);
                  width: 0%;
                  transition: width 1s;
                  align-self: flex-start;
                  height: 1px;
              }
         }
          &:hover {
              background-color: $headerItemHover;
              .contact-button {
                  background-color: $btnHover;
              }
              .under-line {
                  width: 100%;
              }
              .comtact-button-item {
                  background-color: $headerItemHover;
  
              }
          }
      }
      .contact-button-item {
          display: flex;
          align-items: center;
          padding: 0 15px;
          transition: background-color 0.8s;
          .contact-button {
              transition: background-color 0.3s;
          }
          &:hover {
              background-color: $headerItemHover;
              .contact-button {
                  background-color: $btnHover;
              }
              
          }
      }
    }
  }
  